
h1 {
  font-family: 'Roboto', 'Noto', sans-serif;  
  color: white;
  background-color: #23b3b0;

}


body {
  font-family: 'Helvetica Neue', 'Lucida Grande', sans-serif;
  font-size: 75%;
}

.image {
  max-width: 460px;
}

.description {
  max=width: 705px;
}

.app {
  display: flex;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
