
body {
  font-family: 'Arial', sans-serif;
  font-size: 75%;
  max-width: 850px;
}


h1 {
  background: #33BEBE;
  border-bottom: 1px solid rgb(219, 219, 219);
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 300%;
  font-weight: 500;
  margin: 0;
  padding: 28px 0 0 0;
}

element.style {
}

.image {
  width: 381px;
  max-width: 460px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin-right: 15px;
}

.description {
  max-width: 705px;
  color: #7C8B88;
  font-size: 225%;
}

.app {
  display: flex;
  margin: 20px 0 0 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

div {
  display: block;
}